* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #343541;
    color: white;
}

#wrapper-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: #343541;
    padding: 15px;
}

#logo-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

#nav-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30px;
    background-color: lightgray;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

#header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
    background-color: #40414F;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

#main-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    background-color: #40414F;
    margin-top: 10px;
    justify-content: space-between;
}


