@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap%27');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #343541;
    color: white;
}

#wrapper-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: #343541;
    padding: 15px;
}

#logo-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

#nav-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30px;
    background-color: lightgray;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: auto;
}

#header-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100px;
    background-color: #40414F;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 50px;
}

#main-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 500px;
    background-color: #40414F;
    margin-top: 10px;
    justify-content: space-between;
}

#error-div {
    padding: 10px;
    display: flex;
    color: #F05152;
    justify-content: center;
    align-items: center;

}

/*sandbox mehdi*/
#input-div .switch, #input-div #label-toggle{
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
}

