<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solid Vault</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <div id="app">
        <div id="password_field">
            <form>
                <textarea name="password" rows="1" cols="40" placeholder="Enter password..."></textarea>
                <button type="submit"></button>
            </form>
        </div>
        <div id="tips_container">

        </div>
        <div footer>
            <a href="./generate.html">
                <button id="footer">Generate Me!</button>
            </a>
        </div>
    </div>
</body>
</html>