<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css')}}">
</head>
<body>
    <div id="wrapper-div">
        <div id="logo-div">
            Logo
        </div>
        <div id="nav-div">
            Navigation
        </div>
        <div id="header-div">
            Header
        </div>
        <div id="main-div">
            <div id="input-div">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</body>
</html>