<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/guidelines-toggle.css')}}>
</head>
<body>
    <div id="wrapper-div">
        <div id="header-div">
            SOLID VAULT
        </div>
        <div id="main-div">
            <div id="input-div">
                <label class="switch">
                    <input type="checkbox" id="lowercase-toggle">
                    <span class="slider round"></span>
                    <label for="lowercase-toggle"></label>
                </label>
                <label class="switch">
                    <input type="checkbox" id="uppercase-toggle">
                    <span class="slider round"></span>
                    <label for="uppercase-toggle"></label>
                </label>
                <label class="switch">
                    <input type="checkbox" id="digits-toggle">
                    <span class="slider round"></span>
                    <label for="digits-toggle"></label>
                </label>
                <label class="switch">
                    <input type="checkbox" id="special-toggle">
                    <span class="slider round"></span>
                    <label for="special-toggle"></label>
                </label>
                <div id="length">
                    <input type="number" name="length" id="length-field" value="6">
                    <label for="length-field">Length</label>
                </div>
                <button id="generate-button">Generate password</button>
            </div>
        </div>
    </div>
</body>
</html>